<!--keywords>plasduino, configuration</keywords-->
<!--description>plasduino configuration</description-->

<img class=floatright src="images/plasduino_config.png" alt="plasduino configuration window"/>

<p>
  plasduino comes with a fully fledged configuration editor that allows the
  user to customize several aspects of the data acquisition. The configuration
  editor can be accessed by either launching the
  <a href="plasduino_config.html">Configuration</a>
  module (directly or from the main plasduino launcher) of via the Configuration
  menu in the GUI of any of the package modules&mdash;mind that, in this case,
  the configuration editor gives you only access to the settings that are
  relevant for that specific module. Note that you have access to each single
  setting from command line, too (if you do launch the program from the
  terminal). Invoke the plasduino launcher or any of the modules with the
  -h option (or see the output below) to have a list of all the available
  command-line switches.
</p>

<p>
  Behind the scenes, the configuration is stored in a text file (formatted
  similarly to a Microsoft Windows INI file), namely
  <text class="path">~/plasduino/plasduino.cfg</text> (note that by "~", here,
  we really mean  whatever
  <a href="http://docs.python.org/2/library/os.path.html#os.path.expanduser">os.path.expanduser('~')</a>
  returns on your system). This is pretty much the only path that the user
  cannot change. The configuration editor window acts as an interface from/to
  this text file (and yes, if you're brave enough you might as well edit the
  file by hand).
</p>

<p>
  By default, a whole bunch of other files and folders are placed by default
  in <text class="path">~/plasduino</text>, most notably the file keeping track
  of the run number and the directories for the data, log and temp files.
  All of this can be configured from the "daq" tab of the configuration
  editor.
</p>

<p>
  Below is an automatically-generated text output from the main plasduino
  argument parsing class, each one of the command line options (in the long
  form) being replicated with the exact same name in the configuration editor
  window. This should give you a rough overview of what you are able to
  configure and how to do it.
</p>
