<!--keywords>plasduino, downloads</keywords-->
<!--description>Download page for the plasduino package</description-->

<p>
  Our <a href="https://bitbucket.org/lbaldini/plasduino/downloads">download page</a>
  is hosted on 
  <a href="https://bitbucket.org/lbaldini/plasduino">bitbucket</a>.
</p>

<p>
  We make available plasduino for specific tags in several different flavors:
  <ul>
    <li>a platform-independent source archive
      (<text class="path">plasduino-major.minor.patch.tar.gz</text>)
      that can be installed using
      <a href="http://docs.python.org/2/install/index.html#install-index">distutils</a> (for the time being this is what you want if you run Windows);</li>
    <li>a rpm package
      (<text class="path">plasduino-major.minor.patch-fc.noarch.rpm</text>)
      that you should be able to install off the shelf on any rpm-based
      GNU/Linux distribution (e.g., Fedora or Red Hat);</li>
    <li>a debian package
      (<text class="path">plasduino_major.minor.patch_all.deb</text>)
      ready for installation on any Debian-based distribution
      (e.g., Debian or Ubuntu).</li>
  </ul>
  Refer to the installation instructions specific for your platform for more
  details.
</p>

<p>
  If you can't wait to install a specific tag and we haven't make the
  distribution files for that tag available, yet, the
  <a href="https://bitbucket.org/lbaldini/plasduino/downloads">download page</a>
  features a "tag" tab that provides access to every single tag. Just grab
  the compressed archive in your favourite flavor and install it using
  <a href="http://docs.python.org/2/install/index.html#install-index">distutils</a>. Or create your own distribution file following the
  <a href="release_howto.html">release howto</a> instructions.
</p>

<p>
  Finally, find what's changed since the last release you installed in the
  <a href="release_notes.html">release notes</a>.
</p>
