<!--keywords>plasduino, features</keywords-->
<!--description>plasduino features</description-->

<p>
  plasduino builds on top of a whole bunch of free-software packages
  (which, depending on your platform and taste can be either a good or a 
  bad thing) and is meant to be easily extendable (i.e., we try and make it
  reasonably easy for you to build your custom module). Here is a brief list
  of the main features the framework offers.

  <ul>
    <li>A set of configurable widgets (e.g., a transport bar, a data input, a
      data display, a customizable main window) that allows to build a complete
      data acquisition graphical user interface with small or no effort.</li>
    <li>A easy-to-use graphical
      <a href="configuration.html">configuration editor</a>.</li>
    <li>A multi-threaded run control class providing all the basic data
      acquisition functionality: communication with the arduino board
      (including auto-detection of the USB port, hand-shaking and auto-upload
      of the firmware), management of the polling cycle for data collection,
      data processing and archiving.</li>
    <li>A configurable logging facility.</li>
    <li>A set of modules implementing a reasonably large collection of
      didactic experiments that should no be too hard to replicate
      (they come with all the relevant schematics). See the entries in the
      "Modules" menu for more details.</li>
    <li>A common launcher: a dialog widget (see image above) that provides
      access to all the modules shipped with plasduino, as well as your
      own&mdash;if you got that far.</li>
  </ul>
</p>
