<!--keywords>plasduino, home page</keywords-->
<!--description>plasduino home page</description-->

<p>
  Plasduino is a data acquisition framework for the physics lab. It builds on
  top of an old, no longer maintained project for data acquisition through the
  parallel port <a href="http://sourceforge.net/projects/plas/">(plas)</a> and
  is based on the <a href="http://www.arduino.cc/">arduino</a> platform
  (hence the name plasduino). If you are wondering what we are talking about,
  our <a href="http://arxiv.org/abs/1312.1805">overview paper</a> is probably
  the single most useful reference, so take a look!
</p>

<img class=floatright style="margin-top:15px"
     src="images/plasduino_view.png"
     alt="plasduino, system overview"/>

<p>
  Plasduino is an open hardware/software project. The codebase is released
  under the GPL licence along with the shield schematics. The main goal is to
  provide all the necessary tools to assemble a flexible, easy-to-use,
  general-purpose data acquisition system, suitable for physics didactic
  experiments, for under 50$.
</p>

<p>
  Plasduino is written in 
  <a href="http://www.python.org/getit/">python</a>
  (relying on several third-party python modules) and uses
  <a href="http://www.riverbankcomputing.co.uk/software/pyqt/download">PyQt4</a>
  for the graphical user interface. A list of pre-requisites for the
  installation is available <a href="prerequisites.html">here</a>.
</p>

<p>
  The plasduino code is hosted on
  <a href="https://bitbucket.org/lbaldini/plasduino">bitbucket</a>.
  Among other things, you want to use bitbucket to
  <a href="https://bitbucket.org/lbaldini/plasduino/src">browse the source code</a>
  or
  <a href="https://bitbucket.org/lbaldini/plasduino/downloads">download plasduino</a> in your favourite flavour. In addition to that, we use the
  <a href="https://bitbucket.org/lbaldini/plasduino/issues">issue tracker</a>
  provided by bitbucket for bug reports and feature request; using the issue
  tracker is by far the most effective way to complaint or suggest improvements!
</p>
