<!--keywords>plasduino, installation, GNU/Linux</keywords-->
<!--description>Installation instructions for plasduino (GNU/Linux)</description-->

<p>
  If you're running GNU/Linux, the easiest way to install plasduino is using
  the precompiled packages that we make available on the
  <a href="https://bitbucket.org/lbaldini/plasduino/downloads">download page</a>
  in the rpm and deb flavors. If you're using a Debian or red-hat based system
  you should be all set (and the dependencies should be take care of, with
  one notable exception mentioned below). Just download the package in your
  favourite location, open a terminal and issue the command (we are assuming
  that you know how to specify the path to the precompiled package):
  <div class="code">
    sudo rpm -Uvh /path/to/plasduino-x.x.x-fc.noarch.rpm
  </div>
  for rpm-based distributions (e.g., Fedora or RedHat) or
  <div class="code">
    sudo dpkg -i /path/to/plasduino_x.x.x_all.deb
  </div>
  for debian-based distributions (e.g., Debian or Fedora). For modern
  distributions you might even get away with a mouse click!
</p>

<p>
  In addition to that you have to add yourself to the dialout group to
  be able to write to the serial port. In order to do that open a terminal
  and follow this instructions. If you don't know what your username is
  type:
  <div class="code">
    whoami
  </div>
  Then do:
  <div class="code">
    sudo usermod -a -G dialout your_username
  </div>
  Finally, log out and log in again. If you type in a terminal
  <div class="code">
    groups
  </div>
  dialot should show up (and you should be good to go).
</p>

<p>
  Mind that if you're using Fedora you do need to enable the
  <a href="http://rpmfusion.org/">rpmfusion</a> repository to have access to
  ffmpeg, which in turn is required by the
  <a href="plasduino_videoclick.html">Video Click</a> module.
  Not every Fedora user being willing to enable rpmfusion (and, who knows? Maybe
  you don't care about this specific module to start with), we decided not
  to include ffmpeg in the list of dependencies in the rpm. You'll have to
  <a href="http://rpmfusion.org/Configuration">enable the repository</a>
  by yourself, open a terminal and issue:
  <div class="code">
    sudo yum install ffmpeg
  </div>
  (or use yumex or your favourite graphical package manager).
</p>

<p>
  If, for some reason, you want to install plasduino from the source code,
  you can surely do that using distutils. Download the compressed
  platform-independent tarball, uncompress it, change directory in the
  top-level folder and type (as root):
  <div class="code">
    python setup.py install</br>
    ./modules/plasduino_updatemoduelinfo.py
  </div>
  (the last line generates an installation-dependent configuration file to be
  used at runtime and needs to be executed only once with root priviledges).
</p>

<p>
  If you have problems in the installation, ideas to make this page more useful
  or requests to support other distros, we would love to hear from you on our
  <a href="https://bitbucket.org/lbaldini/plasduino/issues">issue tracker</a>
  or by <a href="team.html">e-mail</a>.
  And if you are willing to volunteer for any of the above, that's even better!
</p>
