<!--keywords>plasduino, installation, Microsoft Windows</keywords-->
<!--description>Installation instructions for plasduino (Microsoft Windows)</description-->

<p>
  Microsoft Windows is not the OS we use for development, so we are not
  providing anything fancy (such as a .msi installer) at this time.
  Nonetheless we have successfully tested plasduino under Windows and we do put
  some effort in trying and make sure that's still the case as we release
  new versions.
</p>

<h3>Installing the pre-requisites</h3>

<p>
  Windows not having a package manager makes the installation of the stuff
  that is required to run plasduino somewhat more tedious.

  <ul>
    <li>Install
      <a href="http://www.python.org/">python</a>.
      The <a href="http://www.python.org/download/">python download page</a>
      provides precompiled Windows installers (.msi files) for 32 and 64 bit
      machines. After you have installed python you should make sure you're
      able to invoke it from the command line (i.e. from the DOS prompt), as
      this will save you time in the following steps. This basically involves
      adding the python installation directory to your
      <text class="path">%PATH%</text> environment variable; you might find
      some useful information
      <a href="http://docs.python.org/faq/windows.html">here</a>.
    </li>

    <li>Install <a href="http://www.riverbankcomputing.co.uk/software/pyqt/intro">PyQt</a>.
      This is easy. The <a href="http://www.riverbankcomputing.co.uk/software/pyqt/download">PyQt4 download page</a>
      provides precompiled Windows installers; just make sure you pick the one
      matching your python version and your architecture (i.e., 32 vs. 64 bits).
    </li>

    <li>Install pyserial. Interestingly enough, the up-to-date official
      <a href="http://pypi.python.org/pypi/pyserial">download page</a> doesn't
      seem to be offering a Windows installer. You'll have to download the
      compressed archive, extract it and run
      <div class="code">
	python setup.py install
      </div>
      from a command prompt (from within the top-level directory in the
      uncompressed archive). You'll find plenty of information about how to do
      that on the internet (including
      <a href="http://www.ofzenandcomputing.com/zanswers/1072/">how to extract a .tar.gz archive</a>).
    </li>

    <li>Install
      <a href="http://www.nongnu.org/avrdude/">avrdude</a>. Grab the latest
      .tar.gz archive from the
      <a href="http://www.nongnu.org/avrdude/">avrdude download area</a> and
      extract it in your favourite location (e.g.,
      <text class="path">C:\Program Files\avrdude</text>). You'll have to make
      sure you're able to invoke avrdude from the command line (i.e., you have
      to add the folder with the avrdude binaries to your
      <text class="path">%PATH%</text> environment variable).
    </li>

    <li>Install
      <a href="http://www.arduino.cc/">arduino</a>. Along the same lines, grab
      the zipped archive from the
      <a href="http://arduino.cc/hu/Main/Software">arduino software download page</a>
      and extract it to your favorite location (e.g.,
      <text class="path">C:\Program Files\arduino</text>).
    </li>
  </ul>

  At this point you should be able to find your way through the additional
  required packages, if you have to.
</p>


<h3>Installing plasduino</h3>

<p>
  Since, again, we do not distribute precompiled packages for Windows,
  the only way you can install plasduino at this time is from the source
  tarball, using distutils. Download the platform-independent tarball,
  uncompress it, change directory in the top-level folder and type:
  <div class="code">
    python setup.py install</br>
    python modules\plasduino_updatemoduelinfo.py
  </div>
  (the last line generates an installation-dependent configuration file to be
  used at runtime and needs to be executed only once with root privileges).
</p>

<p>
  Good luck!
</p>
