<!--keywords>plasduino, installation, MAC</keywords-->
<!--description>Installation instructions for plasduino (MAC)</description-->

<p>
  There was at least one successfull attempt of running plasduino on a MAC,
  by Daniele Trifir&ograve, who is gratefully acknowledged for the content
  of this page (grazie mille!). It doesn't event look <em>too</em> hard.
</p>

<p>
  First of all you need to install
  <a href="http://www.macports.org/">MacPorts</a>, if you don't have it,
  already.
</p>

<p>
  Next come the
  <a href="http://pythonhosted.org/plasduino/prerequisites.html">dependencies</a>, which is why we need MacPorts in the first place. Open a terminal and
  type something along the lines of:
  <div class="code">
    $ sudo port install py27-pyqt4</br>
    $ sudo port install py27-serial</br>
    $ sudo port install py27-pyqwt</br>
    $ sudo port install avrdude</br>
    $ sudo port install ffmpeg
  </div>
</p>

<p>
  The grab the latest version of plasduino from the
  <a href="https://bitbucket.org/lbaldini/plasduino/downloads">download page</a>
  (you're after the source plasduino-x.y.z.tar.gz file). Unpack the archive
  in your favourite folder and install it using distutils:
  <div class="code">
    $ tar -xf plasduino-x.y.z.tar.gz</br>
    $ cd plasduino-x.y.z</br>
    $ sudo python setup.py install
  </div>
  Make sure that you can import the module from a python interactive session:
  <div class="code">
    $ python</br>
    >>> import plasduino
  </div>
  If this doesn't work, you might have set explicitely the PYTHONPATH variable
  by adding to ~/.profile or ~/.bash_profile the following line
  <div class="code">
    export PYTHONPATH=$PYTHONPATH:/usr/lib/python2.7/site-packages/
  </div>
</p>

<p>
  You are <em>almost</em> there. Run the initial configuration script
  (note you'll only have to do this once, from the folder where you
  unpacked the installation archive):
  <div class="code">
    $ sudo ./modules/plasduino_updatemoduelinfo.py
  </div>
</p>

<p>
  And this should be it. Launch plasduino from the terminal and enjoy
  the open-source data acquisition.
</p>
