<!--keywords>plasduino</keywords-->
<!--description>plasduino Temperature Monitor module</description-->

<h3>Introduction</h3>

<p>
  This module is designed to read the two thermistors connected to
  the analog inputs of the <a href="shield_lab1.html">Lab 1 shield</a>. 
  There is no specific application in mind, just a synchronous readout at 2 Hz.
  It can be used for several applications.
</p>



<h3>Propagation of heat through a metal bar</h3>


<p>
  A typical experiment is the study of the propagation of heat through a metal
  bar. One end of the bar is heated using a resistor and the other one is cooled
  with water; when stationary condition are reached, the temperature gradient
  can be used to measure the thermal conductivity of the metal.
</p>

<p style="margin-bottom:160px" >
  We can use this module to measure the temperature in different positions along
  the bar. The continuous readout allows the study of the response time of the
  sensor (<a href="http://en.wikipedia.org/wiki/Convective_heat_transfer#Newton.27s_law_of_cooling">Newton's law of cooling </a>).
</p>


