<!--keywords>plasduino, prerequisites</keywords-->
<!--description>plasduino prerequisites</description-->

<p>
  Plasduino being an open-source project, we try hard not to re-invent the wheel
  (i.e., we rely on a whole bunch of other open-source projects).
  Depending on your taste/OS this might be good or bad. If you want to run
  plasduino on GNU/Linux, the package manager of any reasonable distribution
  will make the installation transparent to you. On Windows and MAC,
  everything's a little bit trickier.
</p>

<p>
  Once you (think you) are done with the installation, there is a tiny handy
  module called <a href="plasduino_doctor.html">Doctor</a> that is meant to
  help you making sure you have the right environment to run plasduino. If you
  are experiencing problems try and run it&mdash;hopefully it will give you some
  useful piece of information.
</p>

<p>
  Note that you won't need each single package listed below for each single
  plasduino module (and you might be able to run modules with as little as
  <a href="http://www.python.org/getit/">python</a> and
  <a href="http://www.riverbankcomputing.co.uk/software/pyqt/download">PyQt4</a>). Refer to the module documentation for the list of pre-requisites specific
  to that module.
</p>

<p>
  That all said, here is the lundry list of the stuff (not including plasduino
  itself) you need in order to run plasduino in all its glory.

  <ul>
    <li>
      <a href="http://www.python.org/getit/">python</a>,
      the scripting language plasduino is written in. The development is
      currently going on with version 2.7.3, but there's no reason to expect the
      code wouldn't work with any reasonably recent python 2.x version
      (say 2.3.7 or later). We also try and make our code python 3 friendly,
      so that we should be ready when that will take over the world.
      If you're running a GNU/Linux distibution, then you have python straight
      out of the box, no need to worry about this.
    </li>
    <li>
      <a href="http://www.riverbankcomputing.co.uk/software/pyqt/download">PyQt4</a>,
      the framework used for the graphical user interface. Again, any version
      should essentially work out of the box, as we're not really using any
      advanced feature. The binary installers for Windows contain everything
      needed for PyQt development except for Python itself.
    </li>
    <li>
      <a href="http://pyqwt.sourceforge.net/">PyQwt</a>,
      a graphical library extending PyQt with widgets for scientific
      applications (most notably, we use this to plot stuff).
    </li>
    <li>
      <a href="http://pyserial.sourceforge.net/">pyserial</a>,
      a python module (not part of the standard library) for the serial
      communication with the arduino usb interface.
    </li>
    <li>
      <a href="http://savannah.nongnu.org/projects/avrdude">avrdude</a>,
      an utility to download/upload/manipulate the ROM and EEPROM contents of
      AVR micro-controllers. plasduino comes with all arduino sketches
      pre-compiled (at least for a tiny subset od the arduino boards), but you
      still need this to upload the sketches themselves on the on-board
      micro-controller.
    </li>
    <li>the
      <a href="http://arduino.cc/en/Main/Software">arduino software</a>,
      including all the development code necessary to build your own sketches
      and a serial monitor useful when debugging. If your're running under
      Windows you'll need the drivers (essentially a .inf file) that are
      shipped with the arduino software, so effectively you do need to install
      this even though you're not planning to recompile the sketches yourself.
    </li>
    <li>
      <a href="http://people.csail.mit.edu/hubert/pyaudio/">pyaudio</a>,
      the python bindings for the
      <a href="http://www.portaudio.com/">portaudio</a> cross-platform audio
      API. This is only required by the plasduino modules using the audio card.
    </li>
    <li>
      <a href="http://ffmpeg.org/">ffmpeg</a> or
      <a href="http://libav.org/avconv.html">avconv</a>,
      providing video decoders for the Videoclick module. Mind that if you're
      using <a href="http://fedoraproject.org/">Fedora</a> you do need to enable
      the <a href="http://rpmfusion.org/">rpmfusion</a> repository to have
      access to ffmpeg.
    </li>
    <li>
      <a href="http://www.scons.org/">scons</a>,
      a software construction tool that we use to compile the sketches against
      the arduino libraries. You'll only need this if you want to recompile the
      sketches yourself through the SConstruct we provide (assuming we do
      provide the binaries for your own board); otherwise you can just use the
      precompiled binaries shipped with plasduino.
    </li>
  </ul>
</p>
