<!--keywords>plasduino, quickstart</keywords-->
<!--description>plasduino quickstart</description-->

<img class=floatright src="images/plasduino.png" alt="plasduino launcher"/>

<p>
  Ok, I have installed plasduino on my favourite platform. Now
  what do I do with it?
</p>
<p>
  Well, there's a few modules that allow you to do <em>something</em>
  even with no additional hardware (most notably
  <a href="plasduino_dice.html">Dice</a> and
  <a href="plasduino_videoclick.html">Video Click</a>). But that's really not
  what plasduino is being developed for.
</p>
<p>
  So, now you need an <a href="http://www.arduino.cc/">arduino</a> board (we
  use <a href="http://arduino.cc/en/Main/ArduinoBoardUno">uno</a>
  for development, but it should be trivial to port the code to other boards).
  You'll also need some kind of sensors. At this point you might want to take
  a look at our sketches, but even with a bare arduino and an optical gate or
  a thermistor it shouldn't be <em>too</em> hard to put together the
  setup for the <a href="plasduino_pendulum.html">Pendulum</a> or the
  <a href="plasduino_tempmonitor.html">Temperature Monitor</a> modules).
  And, of course, take a look at the other modules too to get an idea of
  what plasduino has to offer.
</p>


<h3>Running plasduino</h3>

<p>
  The easiest way to run plasduino is through the main launcher shown above,
  which you should be able to fire up by invoking
  <text class="code">plasduino</text> in a terminal (depending on the platform
  and distribution, it might even show up in one of the Desktop menus, or you
  might have created a Desktop shortcut for it).
</p>

<p>
  At this point you have a list of all the available modules, with a
  short explanation next to it (and you can add/remove your own custom modules
  with the "Add..." and "Remove..." buttons). Select one of them, open it and
  there it is: you're up and running.
</p>

<p>
  The data acquisition main windows look pretty much all similar to each other
  (with a few noticeable counter-examples that it won't take you long to figure
  out). Most of them have a transport bar; surprisingly enough, press play to
  start and stop to end the data acquisition. And most of them, at the end of
  the run, produce output files for you to analyze.
</p>

<p>
  Have fun!
</p>
