<!--keywords>plasduino, release notes</keywords-->
<!--description>plasduino release notes</description-->

<p>
  Here is a snapshot of the release notes for the latest plasduino build
  updated on the doc page.
</p>
