<!--keywords>plasduino, screenshots</keywords-->
<!--description>plasduino screenshots</description-->

  <p>
    Here is a small collection of screenshots of plasduino modules (not
    necessarily from the latests version of the package) so that you 
    have an idea about how the graphical user interface looks like.
  </p>


  <p>
  <img class=center style="margin-top:40px"
     src="images/plasduino_pendulumdrive.png"
     alt="plasduino Pendulum Drive screenshot"/>

  <img class=center style="margin-top:40px"
     src="images/plasduino_tempmonitor.png"
     alt="plasduino Temperature Monitor screenshot"/>

  <img class=center style="margin-top:40px"
     src="images/plasduino_videoclick.png"
     alt="plasduino Video Click screenshot"/>

  <img class=center style="margin-top:40px"
     src="images/plasduino_wavegen.png"
     alt="plasduino Waveform Generator screenshot"/
  </p>
  
