<!--keywords>plasduino, shield, scaler</keywords-->
<!--description>plasduino Scaler shield</description-->

<img class=floatright style="margin-top:20px"
     src="images/shield_scaler_top.png"
     alt="Scaler shield, top view"/>


<p>
  This shield and its corresponding sketch is designed as a simple and
  low-cost scaler for high-energy physics physics application, e.g.,
  reading out of signals from photomultiplier tubes in counting mode.
  The shield is supposed to operate with the sketch
  <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/arduino/scalerlcd/scalerlcd.ino"><text class="path">arduino/scalerlcd/scalerlcd.ino</text></a>, which displays the counts on a LCD
  (i.e., no GUI on the computer side is needed).
</p>

<h4>Evolving version</h4>

  <ul>
    <li>Production files:
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/scalerlcd/scalerlcd.fzz">Fritzing file</a>
  </ul>


<h3>Features</h3>

<p>
  It is a first prototype of a 4-channel scaler with LCD to display the
  resulting counts. When the START button is pressed, arduino begins counting
  the number of low-to-high transitions from the 4 inputs in the J1 connector
  for a fixed amount of time. This integration time is always displayed in the
  LCD and can be changed by varying the resistance of the potentiometer TIME.
  After the integration time expires, the counts are displayed in the 4 rows
  of the LCD. A run number is also stored and displayed in the LCD, it is
  incremented every time the START button is pressed. No connection with a PC
  is required (except for loading the sketch of course) since all the
  information are displayed on the LCD.
</p>

<p>
  J1 is a generic 8-pin connector for the input signals. The 4 upper pins are
  directly connected to Arduino input pins. The 4 lower pins set to ground to
  provide a reference voltage.
</p>

<p>
  A Running LED is added to show the system status. It turns on as the
  system starts counting.
</p>

<p>
  A hit is recorded by continuously (i.e. every 4 us) reading the status of the
  input pins and looking for low-to-high transitions, i.e., high in current
  readout and low in previous readout (this is appropriate only in low
  counting rate regime).
</p>

