<!--keywords>plasduino, shield, lab1</keywords-->
<!--description>plasduino lab1 shield</description-->


<img class=floatright style="margin-top:10px"
     src="images/shield_lab1_v2_top_pic.png"
     alt="lab1 shield, top view"/>

<p>
  This shield is designed for the lab course for the freshmen at the physics
  department of the University of Pisa. We currently use it mainly for a set
  of mechanics and thermodynamics didactic experiments.
</p>


<h4>Version 2 (October 2013)</h4>

  <ul>
    <li>Data sheet (<a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v2/shield_lab1_v2.pdf">pdf</a>).</li>
    <li>Production files:
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v2/lab1_v2.fzz">Fritzing file</a>,
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v2/pdf">etchable pdf</a>,
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v2/gerber">gerber</a>,
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v2/bom">part list</a>.</li>
  </ul>


<h4>Version 1 (December 2012)</h4>

  <ul>
    <li>Data sheet (<a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v1/shield_lab1_v1.pdf">pdf</a>).</li>
    <li>Production files:
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v1/lab1_v1.fzz">Fritzing file</a>,
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v1/pdf">etchable pdf</a>,
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v1/gerber">gerber</a>,
      <a href="https://bitbucket.org/lbaldini/plasduino/src/tip/shields/lab1/lab1_v1/bom">part list</a>.</li>
  </ul>


<h3>Features</h3>


<p>
  The main purpose of the the shield is to provide a convenient interface
  between the arduino I/O ports and the external world. In fact the shield
  provides mini-jack connectors for two optical gates and a pair of 10 kOhm
  thermistors, along with generic in-line female pins providing access to four
  arduino analog inputs, distributing the +5V and providing a PWM power output
  (through an external power supply) to drive a motor.
</p>

<p>
  A IC-555 timer provides a square wave, whose frequency is adjustable
  (roughly between 1 Hz and a few kHz) through the R1 potentiometer, that
  can be used to test the functionality of the assembly and to measure the
  time jitter of the system. The IC-555 output can be fed to the D2 arduino
  digital input by switching the jumper on SV1 (by default the D2 arduino pin
  is connected to the proper pin of the D0 female mini-jack on the shield).
</p>

<img class=floatleft style="margin-top:10px"
     src="images/shield_lab1_xray.png"
     alt="lab1 shield, X-ray image"/>

<p>
  The shield provides all the circuitry to modulate the voltage from an external
  power supply (provided on the Pwr input connector) with the PWM from the
  arduino D9 digital output. This allows to drive an external motor (changing
  the duty cycle of the PWM on the arduino D9 controls the speed of the motor
  itself).
</p>

<p>
  Finally, the shield provides a red (PWR) led signaling that the assembly is
  powered up and a general-purpose yellow (LY) led connected to the arduino
  D13 output pin that can be used in the sketches. A reset button completes the
  board.
</p>


<h3>X-ray image of the shield</h3>

<p>
  Since we work in a High-Energy Physics lab, we can have easy access to
  radiation sources and detectors. So why not playing with our instrumentations
  and make an x-ray image of the shield? 
  The result is in the picture on the left. 
</p>



