<!--keywords>plasduino, source code</keywords-->
<!--description>Browse the plasduino source code</description-->

<p>
  The plasduino code is hosted on
  <a href="https://bitbucket.org/lbaldini/plasduino">bitbucket</a>.
  You can clone the <a href="http://mercurial.selenic.com/">mercurial</a>
  repository by issuing
  
  <div class="code">hg clone https://lbaldini@bitbucket.org/lbaldini/plasduino</div>

  or you can 
  <a href="https://bitbucket.org/lbaldini/plasduino/src">browse the source code</a> directly.
</p>
