<!--keywords>plasduino, team</keywords-->
<!--description>The plasduino team</description-->

<p>
  We gratefully acknowledge the support to this project of the
  <a href="http://www.df.unipi.it/cms/">Dipartimento di Fisica E. Fermi</a>
  of the
  <a href="http://www.unipi.it/">Universit&agrave; di Pisa</a>.
</p>
