html
{
    /*This is needed in order to force the scroll bar to appear on the right
      even when the page content would vertically fit in the page---otherwise
      the centering would depend on whether the page has a scrollbar or not.*/
    height: 101%;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote
{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
}

h1
{
    font-size: 50px;
    line-height: 50px;
}

h2
{
    font-size: 22px;
    padding-top: 16px;
    padding-bottom: 0px;
    font-variant: small-caps;
}

h3
{
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 0px;
    font-variant: small-caps;
}

h4
{
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 0px;
    font-variant: small-caps;
}

body
{
    background: #ffffff;
    font-size: 15px;
    line-height: 19px;
}

#topbar
{
    height: 90px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 25px;
    background: #ffffff;
    color: #205081;
}

#menu
{
    width: 900px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

nav
{
    text-align: center;
    width: 900px;
}

nav ul ul
{
    display: none;
    text-align: left;
}

nav ul li:hover > ul
{
    display: block;
}


nav ul
{
    background: #f2f2f2;
    border-color: #ccc;
    color: #3b73af;
    text-shadow: none;
    padding: 0px;
    list-style: none;
    position: relative;
    text-align: center;
    display: inline-table;
}

nav ul:after
{
    content: "";
    clear: both;
    display: block;
}

nav ul li
{
    float: left;
}

nav ul li:hover
{
    background: #4b545f;
}

nav ul li:hover a
{
    color: #fff;
}

nav ul li a
{
    display: block;
    padding: 8px 40px;
    color: #205081;
    text-decoration: none;
}
			
nav ul ul
{
    background: #5f6975;
    border-radius: 0px;
    padding: 0px;
    position: absolute;
    top: 100%;
}

nav ul ul li
{
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

nav ul ul li a
{
    /*padding: 8px 80px 8px 80px;*/
    color: #fff;
}	

nav ul ul li a:hover
{
    background: #4b545f;
}
		
nav ul ul ul
{
    position: absolute;
    left: 100%;
    top: 0;
}

#content
{
    margin: 20px auto;
    width: 900px;
    text-align: justify;
    background: #fff;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    color: #555;
}

#content p
{
    margin-top: 8px;
}

#content a
{
    color: #00f;
    text-decoration: none;
}

#content a:hover 
{
    text-decoration: underline;
}

#content ul
{
    margin: 8px 0;
    padding: 0;
}

#content ul li
{
    margin: 0 0 8px;
    padding: 0;
    list-style-position: inside;
    list-style-type: circle;
}

#content ul li:before
{
    letter-spacing: -1.5px;
    /*color: #ff9900;*/
    /*content: ">>";*/
}

#content img.floatright
{
    float: right;
    margin: 0px 0px 20px 40px;
}

#content img.floatleft
{
    float: left;
    margin: 0px 40px 20px 0px;
}

#content img.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

text.path
{
    font-size: 14px;
    line-height: 15px;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

text.code
{
    font-size: 14px;
    line-height: 15px;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.code
{
    font-size: 14px;
    line-height: 16px;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer
{
    margin: 0em auto;
    width: 1000px;
    clear: both;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 25px;
    color: #555;
}

#footer a:link    { text-decoration: none; }
#footer a:hover   { text-decoration: underline; }